header {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 300px;
    bottom: 270px;
  }

  .photo {
    border-radius: 50%;
    width: 180px;
    height: 220px;
    position: relative;
    top: 50px;
    object-fit: cover;
  }



