@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
 
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(rgb(158, 140, 224), white);
}

h1 {
  margin: 30px auto;
  text-align: center;
 }

 img {
  /* max-width: 100%; */

 }